$TEXT_COLOR: rgb(106, 148, 106);
$DARK_COLOR: #2f382d;

$OLIVE: #A3D76E;
$OLILE_FOCUS: #85E155;

$CLOUD_GREEN: linear-gradient(90.69deg, #FCFEF8 0%, #FBF9FD 100%);
$CLOUD_WHITE: linear-gradient(89.7deg, #FFFFFF 0.44%, #FBF9FD 99.28%);
$CLOUD_BLUE: linear-gradient(100.87deg, #FDFDFD 0%, #F0F4F5 100%);
$SWEET_GREEN: linear-gradient(100.5deg, #C5E078 25.5%, #9EC873 95.37%);
$SWEET_GREEN_FILL: #8DC17D;


$MEDIA_BREAK_MOBILE: 600px;
$MEDIA_BREAK_SMALL_SCREEN: 850px;

$SIDE_PADDING: 24px;
$TOP_PADDING: 12px;


$FONT_SMALL: .8rem;
$FONT_SMALL_XX: .6rem;
$FONT_DEFAULT: 1rem;
$FONT_LARGE: 1.2rem;
