@import "../../styles/themes/schemes/general.styl"
@import "../../styles/mixins.styl"

.footer-mobile-apps
  padding 0

  img
    width 135px

  .align-right
    padding-right 15px

    +m480()
      padding-right 5px !important

  .align-left
    padding-left 15px

    +m480()
      padding-left 5px !important


th[class="footer-mobile-apps__cell"]
th.footer-mobile-apps__cell
  width 315px

  +m480()
    width 48% !important