@import "../../styles/themes/schemes/general.styl"
@import "../../styles/mixins.styl"

.weekly-top
  display block

  img 
    max-width 100%

  &__title
    padding 0 30px

    +m480()
      padding 0 !important

    .h1
      +m480()
        font-size 30px !important
        line-height 35px !important