
include ../../markup/grid
include ../../atoms/atoms

mixin news-item-small(options)
  include ../../markup/utils
  //- Styles of the module
  if PROD
    style: include:stylus news-item-small.styl

  if ESType === "mailchimp"
    - attributes["mc:edit"] = `news_item_small_${randStr()}`

  +space(1)
  //~~// news-item-small module start \~~
  //———————————————————————————————————————————————
  +table("100%"): tr
    td.news-item-small&attributes(attributes)
      a(href=options.link): +table("100%"): tr
        td.news-item-small__image
          +image({src: options.image, alt: options.title, width: "90"})

        td.news-item-small__description
          a(href="#news-more")
            +text(options.description)

  //———————————————————————————————————————————————
  //~~\ news-item-small module end   //~~
  +space(1)

