@import "../../styles/themes/schemes/general.styl"
@import "../../styles/mixins.styl"

.footer
  padding 0 30px
  text-align center

  +m480()
    padding 0 !important

  a
    color gray !important
    text-decoration none
    font-size 13px !important
    line-height 20px !important

  p
    font-size 13px
    line-height 20px
    color gray
    margin 0