m480()
  @media only screen and (max-width: 481px)
    block

m600()
  @media only screen and (max-width: 601px)
    block

m660()
  @media only screen and (max-width: 661px)
    block

below(size)
  @media only screen and (max-width: (size + 1))
    block