body {
  margin:0;
  padding:0;
  -webkit-text-size-adjust: 100%; /* Prevent text resizing in WebKit-based clients */
}

img {
  border:0 none;
  height:auto;
  line-height:100%;
  outline:none;
  text-decoration:none;

  /* IE image resize fix */
  -ms-interpolation-mode:bicubic;
}

a img {
  border:0 none;
}

.imageFix {
  display:block;
}

table {
  /* Remove spacing on left and right side in outlook */
  mso-table-lspace:0pt;
  mso-table-rspace:0pt;
}

table, td {
  border-collapse: collapse;
}

th {
  font-weight: normal;
}

#bodyTable {
  height:100% !important;
  margin:0;
  padding:0;
  width:100% !important;
}

p {
  margin: 0 
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
}