.TextArea {
    width: 100%;
    height: 200px;

    border-radius: 12px;

    background: white;

    overflow: hidden;

    >textarea {
        padding: 12px;

        height: 100%;
        width: 100%;

        outline: none;
        border:none
    }
}
