-
  const Data = {
    digestTitle: {
      title:       "Hong Kong", 
      description: "Issue #43"
    },

    header: {
      normal: {
        transparent: false,
        image: {
          src:   Tags.company.logo, 
          alt:   Tags.company.name, 
          width: "135"
        }
      },

      transparent: {
        transparent: true,
        image: {
          src: Tags.company.logo,
          alt: Tags.company.name,
          width: "135"
        }
      }
    },

    section: {
      share: {
        title: "<b>Share</b> the issue:",
        socials: [
          {
            icon: "icon-twitter-small.png",
            text: "Tweet",
            link: "#twitter-share-link"
          },
          {
            icon:      "icon-facebook-small.png", 
            iconWidth: "17px",                    
            text:      "Share",                   
            link:      "#facebook-share-link"
          }
        ]
      }
    },

    person: {
      name:  "Lenora Marsh",                
      info:  "Journalist, Hong Kong lover", 
      photo: "user.png"
    }
  }