@import "../../styles/themes/schemes/general.styl"
@import "../../styles/mixins.styl"

.weekly-topic
  padding 0 30px

  +m480()
    padding 0 !important

  &__link
    min-width 160px

    +m480()
      min-width 60px !important