// General theme colors
black   = #1e1e1e
gray    = #9a9a9a
white   = #ffffff
bggray  = #f8f8f8
red     = #e81045
pink    = #ef2d56
skyblue = #0d6cf7
blue    = #0d6cf7
green   = #1dc53c
golden  = #f1c40f