include helpers

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
html(lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office")

  head
    +meta()
    +MSO()

    //- Link to theme styl file. Will be inlined and then removed or extracted into separate .css file
    if PROD
      style: include:stylus ../styles/themes/theme-general.styl
    if !PROD
      link(rel="stylesheet", href="../../styles.css")

  //- Reset default body params
  body(leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0")
    //- Fallback for clients without supporting 'margin: auto';
    center
      +space(1)

      // Main content wrapper
      .main
        table(role="presentation" cellpadding="0" cellspacing="0" style="width:100%;" align="center" border="0")
          tr: td(style="text-align:center; vertical-align:top; direction:ltr; padding:0px; mso-line-height-rule:exactly;")
            +msoWrapper()
              +space(2)
              // Main content section 
              block content
              +space(2)

  
  style(type="text/css").
    body, table, td {font-family: Arial, Helvetica, sans-serif !important;}