@import "../../styles/themes/schemes/general.styl"
@import "../../styles/mixins.styl"

.bigbutton
  padding 0 30px
  +m480()
    padding 20px !important

  &__link
    display block
    padding 18px 30px;
    text-decoration none
    background-color #0d6cf7
    color #fff
    font-size 17px
    line-height 25px
    text-align center
    font-weight bold
    border-radius 6px
    vertical-align middle

